#chat-page{
    height:100% !important;
}
#chat-list{
    overflow: auto;
}
#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}

#chat-page .chat-me .am-list-extra {
    flex-basis: auto;
}

#chat-page .am-grid-icon {
    display: none;
}

#chat-page .am-grid-text {
    margin-top: 0;
}